.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.navbar{
  list-style-type: none;
}
.nav-item{
  display: inline-block;
  margin-right: 2rem;
}
.nav-item a{
  text-decoration: none;
  color: rgba(255, 255, 255, 0.69);
  text-transform: uppercase;
  font-weight: bold;
  transition: .2s;
}
.nav-item a:hover{
  color:  rgba(255, 255, 255, 0.8);
}
